body {
  background-image: url("https://image.freepik.com/free-vector/black-carbon-fiber-texture-background_1017-23627.jpg");
  background-color: #636363;
  background-repeat: no-repeat;
  background-size:200em;
}

.card-body {
  background-color: rgba(65, 65, 65, 0.466);
  
}


h3 {
    color: rgb(0, 0, 0);
}

svg:hover path{
  fill: rgba(0, 255, 0, 0.74);
}

svg {
  fill: rgb(0, 0, 0);
}